asttokens
choreographer
colorama
comm
contourpy
cycler
debugpy
decorator
et_xmlfile
executing
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kaleido
kiwisolver
logistro
matplotlib
matplotlib-inline
narwhals
nest-asyncio
numpy
openpyxl
orjson
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
seaborn
simplejson
six
squarify
stack-data
tornado
traitlets
tzdata
wcwidth
streamlit
